@model PizzaOrderingSystemWebMVC.Models.OutputList

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container-fluid my-5 d-flex justify-content-center">
    <div class="card card-1">

        <h4 class="mb-0"><span class="change-color">Order Details</span></h4>

        <div class="card-body">
            @foreach (var item in Model.FinalListPizzas)
            {
                <div class="row mt-4">
                    <div class="col">
                        <div class="card card-2">
                            <div class="card-body">
                                <div class="media">
                                    <div class="sq align-self-center ">
                                        <img class="img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" src="/Images/Pizzas/@(item.Pizza.PizzaName).jpeg" width="135" height="135" />
                                    </div>
                                    <div class="media-body my-auto text-right">
                                        <div class="row my-auto flex-column flex-md-row">
                                            <div class="col my-auto">
                                                <h6 class="mb-0">
                                                    Pizza Name - <span class="change-color"> @item.Pizza.PizzaName</span>
                                                    Price - <span class="change-color">$ @item.Pizza.PizzaPrice</span>
                                                    Pizza Type - <span class="change-color">@item.Pizza.PizzaType</span>
                                                </h6>
                                            </div>
                                            <div class="col-auto my-auto"> <h6></h6></div>
                                            <div class="col-auto my-auto"> <h6></h6></div>

                                        </div>
                                    </div>
                                </div>
                                <hr class="my-3 ">
                                <div class="row">
                                    <div class="col-md-3 mb-3"> <h6> Toppings <span><i class=" ml-2 fa fa-refresh" aria-hidden="true"></i></span></h6> </div>
                                    @foreach (var topping in item.Toppings)
                                    {
                                        <div class="col my-auto"> <h6>Topping Name - <span class="change-color">@topping.ToppingName</span></h6></div>
                                        <div class="col my-auto"> <h6>Topping Price - <span class="change-color">$ @topping.ToppingPrice</span></h6></div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="jumbotron-fluid">
                <div class="row justify-content-between">
                    <div class="col-auto my-auto ">
                        @*<button class="btn btn-success">Confirm Order</button>*@
                        <a href='@Url.Action("Confirm","OrderDetail")'>
                            <input type="button" value="Confirm Order" class="btn btn-success" />
                        </a>
                    </div>
                </div>
                <div class="row mb-3 mt-3 mt-md-0">
                    <div class="col-auto border-line"> <small class="text-white">Sub-Total: $ @(ViewBag.theOrder.TotalAmount - ViewBag.deliveryPrice)</small></div>
                    <div class="col-auto border-line"> <small class="text-white">Delivery Charges: $ @ViewBag.deliveryPrice </small></div>
                    <div class="col-auto "><small class="text-white">Total Amount: $ @ViewBag.theOrder.TotalAmount</small> </div>
                </div>
            </div>
        </div>
    </div>
</div>