@model PizzaOrderingSystemWebMVC.Models.ToppingList
@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
@{ TempData["pizzaChoise"] = @ViewBag.thePizza.PizzaNumber;
                TempData["pizzaPrice"] = @ViewBag.thePizza.PizzaPrice;
}

<h1>Details</h1>

<div>
    <h4>Chose topping</h4>
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card">
                <img src="/Images/Pizzas/@(ViewBag.thePizza.PizzaName).jpeg" class="card-img-top" alt="..." style="height: 230px;">
                <div class="card-body">

                    <h5 class="card-title text-center">@ViewBag.thePizza.PizzaName</h5>

                    <h6 class="card-text">Prise $@ViewBag.thePizza.PizzaPrice</h6>
                    <h6 class="card-text">@ViewBag.thePizza.PizzaType</h6>

                    <p class="card-text">Some pizza descriptions on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<form asp-action="Details" method="post">
    <div class="col-lg-4 mb-4">
        <h2>Chose topping</h2>

        @using (Html.BeginForm())
        {
            for (int i = 0; i < Model.Toppingss.Count; i++)
            {

                @Html.CheckBoxFor(m => Model.Toppingss[i].IsChecked)
                @Model.Toppingss[i].ToppingName
                @Model.Toppingss[i].ToppingPrice
                @Html.HiddenFor(m => Model.Toppingss[i].ToppingPrice)
                @Html.HiddenFor(m => Model.Toppingss[i].ToppingNumber)
                @Html.HiddenFor(m => Model.Toppingss[i].ToppingName)<br />

            }
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add to order" class="btn btn-primary w-50" />
            </div>
            @ViewBag.Loc
        }
      

    </div>
</form>
